/*This is for formatting the top image*/
#top
 {	margin:0% 0% 0% 0%
 }
 
/*This if for formatting the top heading*/
#table
 {	color:white;
	background:#a4957d;
	width:100%;
	font-size:21px;
	font-family:calibri;
 }

/*This is for formatting the links to other webpages*/ 
#home, #categories, #gallery, #bibliography
 {	color:white;
	background:transparent;
	text-decoration:none;
 }

/*This is for formatting the intralinks*/
#list
 {	color:white;
	background: #5fc974;
	font-family:calibri;
	font-size:17px;
	border-style:solid;
	border-color:black;
	border-width:1px;
 }
 
/*This is for formatting the links in the intralinks list*/
#fineart, #sculpt, #arch, #cam
 {	color:white;
	background:transparent;
	text-decoration:none;
 }

.body
 {	color:black;
	background:white;
	margin:0% 17% 15% 17%;
	font-family:Georgia;
	font-size:17;
 }
